Data is at https://fdc.nal.usda.gov/download-datasets.html: See "Foundation Foods - April 2020 (CSV – 2.3M)". Read "Download_Field....pdf" for details. Some relevant details from the PDF:
branded_food table = Foods whose nutrient values are typically obtained from food label data
provided by food brand owners.


I want to model this project after https://www.kaggle.com/arthurtok/super-sized-we-mcdonald-s-nutritional-metrics.

In [1]:
import pandas
foods = pandas.read_csv('data/food.csv')
foods.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319880,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319881,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
4,319886,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01

In [2]:
foods.food_category_id.value_counts(dropna=False)

 1.0     6406
 11.0    2274
 9.0     1963
 5.0     1503
 16.0    1202
 15.0     913
 7.0      795
 10.0     613
 6.0      568
 18.0     488
 25.0     474
 13.0     454
 20.0     448
 4.0      414
 2.0      386
 12.0     267
 19.0      54
NaN        22
Name: food_category_id, dtype: int64

In [4]:
foods[foods.food_category_id==1].description.value_counts().head()

Eggs, whole              242
BUTTER, STICK, SALTED    205
EGGS, GRADE A, LARGE     201
MILK, WHOLE              180
MILK, SKIM               178
Name: description, dtype: int64

In [6]:
foods[foods.food_category_id==2].description.value_counts().head()

Salt; iodized                 73
SALT, MORTON, IODIZED         24
Salt, Iodized                 16
SALT, GREAT VALUE, IODIZED    10
Salt, Not Iodized              5
Name: description, dtype: int64

In [7]:
food_attributes = pandas.read_csv('data/food_attribute.csv')
food_attributes

,id,fdc_id,seq_num,food_attribute_type_id,name,value
0,5578,323121,0.0,1000,NaN,"hot dog, frank, wiener"
1,5579,327046,0.0,1000,NaN,Chinese gooseberry
2,5580,333476,0.0,1000,NaN,Pollock
3,5581,334247,0.0,1000,NaN,sucrose
4,5582,334849,0.0,1000,NaN,"URMIS # 2219, Kansas City Strip, Boneless Stri..."
5,5583,334897,0.0,1000,NaN,"Tenderloin Roast, URMIS # 1386"
6,5584,334898,0.0,1000,NaN,"Eye of Round Roast, URMIS # 1480"
7,5585,334963,0.0,1000,NaN,"Top Round Roast, URMIS # 1551"
8,5586,335061,0.0,1000,NaN,"T-Bone Steak, URMIS # 2184"
9,5587,335109,0.0,1000,NaN,"Porterhouse Steak, URMIS # 1330"
10,290889,746758,NaN,1000,NaN,"Tenderloin Roast, URMIS # 1386"
11,290890,746759,NaN,1000,NaN,"URMIS # 2219, Kansas City Strip, Boneless Stri..."
12,290891,746760,NaN,1000,NaN,"Eye of Round Roast, URMIS # 1480"
13,290892,746761,NaN,1000,NaN,"Top Round Roast, URMIS # 1551"
14,290893,746762,NaN,1000,NaN,"Porterhouse Steak, URMIS # 1330"
15,290894,746763,NaN,1000,NaN,"T-Bone Steak, URMIS # 2184"
16,290895,746784,NaN,1000,NaN,sucrose
17,290896,747693,NaN,1000,NaN,Catsup
18,290897,748278,NaN,1000,NaN,low erucic acid rapeseed oil
19,5588,335241,0.0,999,DOI,10.2135/cropsci2017.04.0244
20,5589,335241,0.0,999,Genotype,Montcalm
21,5590,335241,0.0,999,Barcode,11G5070076
22,5591,335242,0.0,999,DOI,10.2135/cropsci2017.04.0244
23,5592,335242,0.0,999,Genotype,Montcalm
24,5593,335242,0.0,999,Barcode,11G5070132
25,5594,335243,0.0,999,DOI,10.2135/cropsci2017.04.0244
26,5595,335243,0.0,999,Genotype,Red_Hawk
27,5596,335243,0.0,999,Barcode,11G5070041
28,5597,335244,0.0,999,DOI,10.2135/cropsci2017.04.0244
29,5598,335244,0.0,999,Genotype,Red_Hawk
...,...,...,...,...,...,...
2415,7984,336057,0.0,999,DOI,10.2135/cropsci2017.04.0244
2416,7985,336057,0.0,999,Genotype,GN9_1
2417,7986,336057,0.0,999,Barcode,11G5060337
2418,7987,336058,0.0,999,DOI,10.2135/cropsci2017.04.0244
2419,7988,336058,0.0,999,Genotype,GN9_1
2420,7989,336058,0.0,999,Barcode,11G5060645
2421,7990,336059,0.0,999,DOI,10.2135/cropsci2017.04.0244
2422,7991,336059,0.0,999,Genotype,CDC_Nordic
2423,7992,336059,0.0,999,Barcode,11G5060365
2424,7993,336060,0.0,999,DOI,10.2135/cropsci2017.04.0244
2425,7994,336060,0.0,999,Genotype,CDC_Nordic
2426,7995,336060,0.0,999,Barcode,11G5060673
2427,7996,336061,0.0,999,DOI,10.2135/cropsci2017.04.0244
2428,7997,336061,0.0,999,Genotype,CDC_Crocus
2429,7998,336061,0.0,999,Barcode,11G5060366
2430,7999,336062,0.0,999,DOI,10.2135/cropsci2017.04.0244
2431,8000,336062,0.0,999,Genotype,CDC_Crocus
2432,8001,336062,0.0,999,Barcode,11G5060674
2433,8002,336063,0.0,999,DOI,10.2135/cropsci2017.04.0244
2434,8003,336063,0.0,999,Genotype,Gemini
2435,8004,336063,0.0,999,Barcode,11G5060385
2436,8005,336064,0.0,999,DOI,10.2135/cropsci2017.04.0244
2437,8006,336064,0.0,999,Genotype,Gemini
2438,8007,336064,0.0,999,Barcode,11G5060693
2439,8008,336065,0.0,999,DOI,10.2135/cropsci2017.04.0244
2440,8009,336065,0.0,999,Genotype,Orion
2441,8010,336065,0.0,999,Barcode,11G5060386
2442,8011,336066,0.0,999,DOI,10.2135/cropsci2017.04.0244
2443,8012,336066,0.0,999,Genotype,Orion
2444,8013,336066,0.0,999,Barcode,11G5060694

In [9]:
nutrients = pandas.read_csv('data/food_nutrient.csv')
nutrients.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2219707,321358,1120,3.0,1.0,1.0,NaN,NaN,3.00,NaN,2015.0
1,2219708,321358,1122,0.0,1.0,1.0,NaN,NaN,0.00,NaN,2015.0
2,2219709,321358,1127,1.3,6.0,1.0,0.26,2.47,1.21,NaN,2015.0
3,2219710,321358,1130,0.0,6.0,1.0,0.00,0.00,0.00,NaN,2015.0
4,2219711,321358,1131,0.0,6.0,1.0,0.00,0.00,0.00,NaN,2015.0

In [11]:
food[food.fdc_id==319875]

NameError: name 'food' is not defined

In [12]:
nutrients[nutrients.fdc_id==319875]

Empty DataFrame
Columns: [id, fdc_id, nutrient_id, amount, data_points, derivation_id, min, max, median, footnote, min_year_acquired]
Index: []

In [13]:
food[food.fdc_id==321358]

NameError: name 'food' is not defined

In [14]:
nutrients[nutrients.fdc_id==321358]

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2219707,321358,1120,3.000,1.0,1.0,NaN,NaN,3.000,NaN,2015.0
1,2219708,321358,1122,0.000,1.0,1.0,NaN,NaN,0.000,NaN,2015.0
2,2219709,321358,1127,1.300,6.0,1.0,0.260,2.470,1.210,NaN,2015.0
3,2219710,321358,1130,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
4,2219711,321358,1131,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
5,2219712,321358,1162,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
6,2219713,321358,1165,0.150,6.0,1.0,0.120,0.170,0.160,NaN,2015.0
7,2219714,321358,1166,0.115,6.0,1.0,0.080,0.140,0.120,NaN,2015.0
8,2219715,321358,1177,36.000,6.0,1.0,13.000,53.000,41.000,NaN,2015.0
9,2219716,321358,1184,0.000,2.0,1.0,0.000,0.000,0.000,NaN,2015.0
10,2219717,321358,1185,17.200,2.0,1.0,11.200,23.300,17.200,NaN,2015.0
11,2219718,321358,1257,0.018,NaN,4.0,NaN,NaN,NaN,NaN,NaN
12,2219719,321358,1258,2.220,NaN,4.0,NaN,NaN,NaN,NaN,NaN
13,2219720,321358,1261,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
14,2219721,321358,1263,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
15,2219722,321358,1264,0.009,6.0,1.0,0.008,0.010,0.008,NaN,2015.0
16,2219723,321358,1272,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
17,2219724,321358,1273,0.044,6.0,1.0,0.031,0.062,0.042,NaN,2015.0
18,2219725,321358,1278,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
19,2219726,321358,1280,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
20,2219727,321358,1300,0.010,6.0,1.0,0.006,0.014,0.011,NaN,2015.0
21,2219728,321358,1301,0.027,6.0,1.0,0.019,0.044,0.025,NaN,2015.0
22,2219729,321358,1303,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
23,2219730,321358,1312,0.005,6.0,1.0,0.000,0.011,0.004,NaN,2015.0
24,2219731,321358,1315,6.250,6.0,1.0,4.870,8.730,5.980,NaN,2015.0
25,2219732,321358,1316,6.810,6.0,1.0,4.780,8.560,7.030,NaN,2015.0
26,2219733,321358,1317,0.001,NaN,4.0,NaN,NaN,NaN,NaN,NaN
27,2219734,321358,1323,0.007,6.0,1.0,0.005,0.010,0.008,NaN,2015.0
28,2219735,321358,1329,0.006,NaN,4.0,NaN,NaN,NaN,NaN,NaN
29,2219736,321358,1333,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
...,...,...,...,...,...,...,...,...,...,...,...
89,2219796,321358,1103,16.200,2.0,1.0,0.000,32.300,16.200,NaN,2015.0
90,2219797,321358,1109,1.740,6.0,1.0,1.400,2.890,1.530,NaN,2015.0
91,2219798,321358,1002,1.180,11.0,1.0,0.990,1.290,1.250,NaN,2015.0
92,2219799,321358,2009,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
93,2219800,321358,2012,0.084,6.0,1.0,0.046,0.126,0.082,NaN,2015.0
94,2219801,321358,2014,0.001,6.0,1.0,0.000,0.004,0.000,NaN,2015.0
95,2219802,321358,1334,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
96,2219803,321358,1335,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
97,2219804,321358,2019,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
98,2219805,321358,1414,0.000,6.0,1.0,0.000,0.000,0.000,NaN,2015.0
99,2219806,321358,1180,46.600,1.0,1.0,NaN,NaN,46.600,NaN,2015.0
100,2219807,321358,1197,1.100,1.0,1.0,NaN,NaN,1.100,NaN,2015.0
101,2219808,321358,1198,0.200,1.0,1.0,NaN,NaN,0.200,NaN,2015.0
102,2219809,321358,1199,0.000,1.0,1.0,NaN,NaN,0.000,NaN,2015.0
103,2219810,321358,1194,22.300,1.0,1.0,NaN,NaN,22.300,NaN,2015.0
104,2219811,321358,1196,0.200,1.0,1.0,NaN,NaN,0.200,NaN,2015.0
105,2219812,321358,1195,23.000,1.0,1.0,NaN,NaN,23.000,NaN,2015.0
106,2219813,321358,1063,0.340,NaN,4.0,NaN,NaN,NaN,NaN,NaN
107,2219814,321358,1050,13.900,NaN,4.0,NaN,NaN,NaN,NaN,NaN
108,2219815,321358,1330,0.012,NaN,4.0,NaN,NaN,NaN,NaN,NaN
109,2219816,321358,2010,0.007,NaN,4.0,NaN,NaN,NaN,NaN,NaN
110,2219817,321358,2016,6.810,NaN,4.0,NaN,NaN,NaN,NaN,NaN
111,2219818,321358,2018,0.656,NaN,4.0,NaN,NaN,NaN,NaN,NaN
112,2219819,321358,2020,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
113,2219820,321358,2022,0.005,NaN,4.0,NaN,NaN,NaN,NaN,NaN
114,2219821,321358,2023,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
115,2219822,321358,2024,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
116,2219823,321358,2025,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
117,2219824,321358,2026,0.005,NaN,4.0,NaN,NaN,NaN,NaN,NaN
118,2219825,321358,1085,16.100,NaN,4.0,NaN,NaN,NaN,NaN,NaN

In [17]:
food_nutrients = nutrients.merge(foods, left_on='fdc_id', right_on='fdc_id')
food_nutrients.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,data_type,description,food_category_id,publication_date
0,2219707,321358,1120,3.0,1.0,1.0,NaN,NaN,3.00,NaN,2015.0,foundation_food,"Hummus, commercial",16.0,2019-04-01
1,2219708,321358,1122,0.0,1.0,1.0,NaN,NaN,0.00,NaN,2015.0,foundation_food,"Hummus, commercial",16.0,2019-04-01
2,2219709,321358,1127,1.3,6.0,1.0,0.26,2.47,1.21,NaN,2015.0,foundation_food,"Hummus, commercial",16.0,2019-04-01
3,2219710,321358,1130,0.0,6.0,1.0,0.00,0.00,0.00,NaN,2015.0,foundation_food,"Hummus, commercial",16.0,2019-04-01
4,2219711,321358,1131,0.0,6.0,1.0,0.00,0.00,0.00,NaN,2015.0,foundation_food,"Hummus, commercial",16.0,2019-04-01

In [19]:
food_nutrients.nutrient_id.value_counts()

1051    2554
1004    2525
1090    2259
1098    2259
1091    2258
1101    2258
1087    2257
1095    2257
1089    2253
1092    2246
1007    1650
1002    1439
1093    1391
1003    1132
1079    1122
1009    1022
1102     892
1265     880
1264     880
1266     880
1315     869
1314     869
1316     862
1267     855
1300     855
1301     850
1406     848
1299     847
1137     844
1094     844
        ...
1330      70
1329      70
1106      67
1176      66
1110      56
1289      55
1298      55
1296      55
1286      55
1288      55
1285      55
1287      55
1294      55
1050      35
1114      33
1331      29
2033      28
1116      22
1117      22
1269      18
1270      18
1268      18
1039      14
1032      14
1279      13
1188       8
1191       8
1192       8
1024       6
1325       5
Name: nutrient_id, Length: 198, dtype: int64

In [21]:
food_nutrients[food_nutrients.food_category_id == 1]

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired,data_type,description,food_category_id,publication_date
119,2219826,321359,1103,1.800,12.0,1.0,0.000,4.600,1.500,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
120,2219827,321359,1167,0.112,12.0,1.0,0.090,0.140,0.120,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
121,2219828,321359,1175,0.061,12.0,1.0,0.054,0.068,0.060,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
122,2219829,321359,1003,3.350,NaN,49.0,3.000,3.700,3.320,NaN,NaN,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
123,2219830,321359,1007,0.750,24.0,1.0,0.480,1.100,0.700,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
124,2219831,321359,1166,0.137,12.0,1.0,0.125,0.172,0.132,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
125,2219832,321359,1299,0.019,12.0,1.0,0.016,0.023,0.020,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
126,2219833,321359,1304,0.052,12.0,1.0,0.040,0.066,0.054,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
127,2219834,321359,1314,0.024,12.0,1.0,0.012,0.030,0.025,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
128,2219835,321359,1262,0.049,12.0,1.0,0.041,0.057,0.050,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
129,2219836,321359,1267,0.002,12.0,1.0,0.002,0.002,0.002,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
130,2219837,321359,1261,0.021,12.0,1.0,0.018,0.023,0.020,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
131,2219838,321359,1263,0.058,12.0,1.0,0.049,0.069,0.058,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
132,2219839,321359,1273,0.001,12.0,1.0,0.001,0.002,0.001,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
133,2219840,321359,1316,0.045,12.0,1.0,0.000,0.064,0.048,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
134,2219841,321359,1323,0.003,12.0,1.0,0.000,0.004,0.003,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
135,2219842,321359,1300,0.011,12.0,1.0,0.009,0.014,0.010,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
136,2219843,321359,1333,0.000,12.0,1.0,0.000,0.000,0.000,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
137,2219844,321359,1404,0.007,12.0,1.0,0.005,0.009,0.006,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
138,2219845,321359,1271,0.003,12.0,1.0,0.002,0.003,0.003,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
139,2219846,321359,1276,0.000,12.0,1.0,0.000,0.000,0.000,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
140,2219847,321359,1265,0.512,12.0,1.0,0.438,0.614,0.514,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
141,2219848,321359,1266,0.184,12.0,1.0,0.168,0.217,0.182,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
142,2219849,321359,1259,0.041,12.0,1.0,0.033,0.044,0.042,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
143,2219850,321359,1260,0.032,12.0,1.0,0.026,0.035,0.032,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
144,2219851,321359,1110,45.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
145,2219852,321359,1278,0.000,12.0,1.0,0.000,0.001,0.000,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
146,2219853,321359,1280,0.001,12.0,1.0,0.000,0.002,0.001,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
147,2219854,321359,1315,0.358,12.0,1.0,0.325,0.385,0.356,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
148,2219855,321359,1264,0.181,12.0,1.0,0.158,0.200,0.181,NaN,2018.0,foundation_food,"Milk, reduced fat, fluid, 2% milkfat, with add...",1.0,2019-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94388,9638216,790496,1093,521.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94389,9638217,790496,1095,0.070,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94390,9638218,790497,1100,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94391,9638219,790498,1103,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94392,9638220,790499,1108,10.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94393,9638221,790499,2032,2.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94394,9638222,790499,1120,5.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94395,9638223,790499,1159,14.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94396,9638224,790499,1161,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94397,9638225,790499,1160,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94398,9638226,790499,1121,7.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94399,9638227,790499,1107,85.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94400,9638228,790499,2028,68.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94401,9638229,790499,2029,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94402,9638230,790499,1119,2.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94403,9638231,790500,1109,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94404,9638232,790500,1128,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94405,9638233,790500,1125,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94406,9638234,790500,1129,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94407,9638235,790500,1127,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94408,9638236,790500,1131,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94409,9638237,790500,1126,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94410,9638238,790500,1130,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94411,9638239,790501,1176,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94412,9638240,790502,1253,236.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94413,9638241,790503,1175,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94414,9638242,790504,1051,16.400,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"Butter, stick, salted",1.0,2020-04-01
94415,9638243,790505,1004,80.300,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"Butter, stick, salted",1.0,2020-04-01
94416,9638244,790506,1105,538.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01
94417,9638245,790507,1111,0.000,1.0,1.0,NaN,NaN,NaN,NaN,NaN,sub_sample_food,"BUTTER, STICK, SALTED",1.0,2020-04-01

In [23]:
food_nutrients[food_nutrients.description == "TOMATO"]

Empty DataFrame
Columns: [id, fdc_id, nutrient_id, amount, data_points, derivation_id, min, max, median, footnote, min_year_acquired, data_type, description, food_category_id, publication_date]
Index: []